.create-form-image-preview {
  width: 100%;
  max-height: 300px;
  object-fit: scale-down;
  margin: auto;
  border-radius: 5px;
}

.create-form-image-preview-default {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e9eef0;
}

.create-form-upload-file-button-container {
  display: flex;
  justify-content: end;
}

.create-form-input-photo {
  border: none;
  display: none;
}
